<html>
    <head>
        <meta charset="utf-8">
        <title>Botao Adição</title>
    </head>
    <body>
        <script>
            let valFin = 0;
            function addOne() {
                valFin++;
                document.getElementById('valor').innerHTML = valFin;
            }
        </script>
        <h1>Incrementar </h1>

        <button onclick="addOne()">Adicionar</button>
        <p id="valor">0</p>
        
    </body>
</html>